<div class="login-page">
  <div class="container d-flex align-items-center position-relative py-5">
    <div class="card shadow-sm w-100 rounded overflow-hidden bg-none">
      <div class="card-body p-0">
        <div class="row gx-0 align-items-stretch">
          <!-- Logo & Information Panel-->
          <%= render 'devise/shared/info_panel' %>

          <!-- Form Panel    -->
          <div class="col-lg-6 bg-white">
            <div class="d-flex align-items-center px-4 px-lg-5 h-100 bg-dash-dark-2">

              <h2>Resend confirmation instructions</h2>

              <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-floating">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), id: 'email', placeholder: 'hello@example.com' %>
                  <%= f.label :email, for: 'email' %><br/>
                </div>

                <div class="actions">
                  <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary mb-3', data: { turbo: false } %>
                </div>
                <%= render "devise/shared/links" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'devise/shared/footer' %>
</div>