<div class="login-page">
  <div class="container d-flex align-items-center position-relative py-5">
    <div class="card shadow-sm w-100 rounded overflow-hidden bg-none">
      <div class="card-body p-0">
        <div class="row gx-0 align-items-stretch">
          <%= render 'devise/shared/info_panel' %>
          <!-- Form Panel    -->
          <div class="col-lg-6 bg-white">
            <div class="d-flex align-items-center px-4 px-lg-5 h-100 bg-dash-dark-2">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <h1 class="text-white">Sign Up</h1>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-floating mb-4 ">
                  <%= f.email_field :email, autofocus: true, id: 'floatingEmail', class: 'form-control', placeholder: 'name@example.com' %>
                  <%= f.label :email, for: 'floatingEmail', class: 'label-material' %><br/>
                </div>

                <div class="form-floating mb-4">
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br/>
                  <div class="form-floating mb-3">
                    <%= f.password_field :password, class: 'form-control', id: 'floatingPassword', placeholder: 'Password', autocomplete: 'new-password', required: true %>
                    <%= f.label :password, for: 'floatingPassword', class: 'label-material' %>
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <%= f.password_field :password_confirmation, class: 'form-control', id: 'password_confirmation', placeholder: 'Confirm Password', autocomplete: 'new-password', required: true %>
                  <%= f.label :password_confirmation, for: 'password_confirmation', class: 'label-material' %>
                </div>

                <div class="form-check mb-4">
                  <input class="form-check-input" id="register-agree" name="registerAgree" type="checkbox" required value="1" data-validate-field="registerAgree">
                  <label class="form-check-label form-label" for="register-agree">I agree with the terms and
                    policy </label>
                </div>
                <div class="form-check">
                  <%= f.submit "Register", class: 'btn btn-primary mb-3', data: { turbo: false } %>
                </div>
                <%= render "devise/shared/links" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'devise/shared/footer' %>
</div>