<ul class="list-inline mb-0">
  <% if user_signed_in? %>
    <li class="list-inline-item logout px-lg-2">
      <%= link_to edit_user_registration_path class: 'nav-link text-sm text-reset px-1 px-lg-0' do %>
            <span class="d-none d-sm-inline-block">
             <i class="fa-solid fa-edit svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i> Edit
            </span>
      <% end %>
    </li>

    <li class="list-inline-item logout px-lg-2">
      <%= button_to destroy_user_session_path, method: :delete, class: 'nav-link text-sm text-reset px-1 px-lg-0', data: { turbo: false } do %>
            <span class="d-none d-sm-inline-block">
             <i class="fa-solid fa-sign-out svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i> Logout
            </span>
      <% end %>
    </li>
    <li class="list-inline-item logout px-lg-2 me-3">
      <%= link_to user_tribe_items_path(@user), class: 'nav-link text-sm text-reset px-1 px-lg-0' do %>
            <span class="d-none d-sm-inline-block">
             <i class="fa-solid fa-folder-open svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i> Tribe Items
            </span>
      <% end %>
    </li>
  <% else %>
    <li class="list-inline-item logout px-lg-2">
      <%= link_to new_user_registration_path, class: 'nav-link text-sm text-reset px-1 px-lg-0' do %>
            <span class="d-none d-sm-inline-block">
             <i class="fa-solid fa-sign-in svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i> Sign Up
            </span>
      <% end %>
    </li>
    <li class="list-inline-item logout px-lg-2">
      <%= link_to new_user_session_path, class: 'nav-link text-sm text-reset px-1 px-lg-0' do %>
            <span class="d-none d-sm-inline-block">
             <i class="fa-solid fa-sign-in-alt svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i> Login
            </span>
      <% end %>
    </li>
  <% end %>
</ul>