<%= form_with(model: tribe_item) do |form| %>
  <% if tribe_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tribe_item.errors.count, "error") %> prohibited this tribe_item from being saved:</h2>

      <ul>
        <% tribe_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :owned, style: "display: block" %>
    <%= form.number_field :owned, min: 0 %>
  </div>

  <div>
    <%= form.submit class: 'btb btn-success' %>
  </div>
<% end %>