<div id="<%= dom_id tribe_item %>">
  <p>
    <strong>Item:</strong>
    <%= tribe_item.item %>
  </p>

  <p>
    <strong>Daily yield:</strong>
    <%= tribe_item.daily_yield %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= tribe_item.price %>
  </p>

  <p>
    <strong>Owned:</strong>
    <%= tribe_item.owned %>
  </p>

</div>
