<h3>Days Until Rich</h3>
<%= form_with(model: @tribe_items, url: calculate_days_path, method: :post, local: true) do |form| %>
  <%# if @tribe_item.errors.any? %>
  <!--    <div style="color: red">-->
  <!--      <h2><%#= pluralize(@tribe_item.errors.count, "error") %> prohibited this tribe_item from being saved:</h2>-->

  <!--      <ul>-->
  <%# @tribe_item.errors.each do |error| %>
  <!--          <li><%#= error.full_message %></li>-->
  <%# end %>
  <!--      </ul>-->
  <!--    </div>-->
  <%# end %>
  <div>
    <%= form.label 'Enter a goal' %>
    <%= form.number_field :goal, class: 'form-control', placeholder: 'Enter an amount you want to reach.',
                          'aria-label': 'Enter a goal', 'aria-describedby': 'button-addon2', min: 0, style: 'max-width:10%;' %>
  </div>


  <div>
    <%= form.submit class: 'btb btn-success' %>
  </div>
<% end %>

<h5>Daily Yield: <%= @daily_yield %></h5>
<h5>Goal: <%= @goal %></h5>
<h5>Number of Days to reach goal: </h5> <%= @days_until_next_tribe %>
<h5>Formatted: <%= @formatted %></h5>