<%#= render 'index1' %>
<section>
  <div class="container-fluid">
    <div class="row gy-4">
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-sack-dollar svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Price</p>
              </div>
              <p class="text-xxl lh-1 mb-0 text-dash-color-1">$<%= number_with_delimiter(@akc_price.round(5)) %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-dollar-sign svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <i class="fa-solid fa-a svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <i class="fa-solid fa-k svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <i class="fa-solid fa-c svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Daily Yield</p>
              </div>
              <p class="text-xxl lh-1 mb-0 text-dash-color-2"><%= number_with_delimiter(@daily_yield[0].round(3)) %>
                $AKC</p>
            </div>
            <div class="progress" style="height: 3px">
              <div class="progress-bar bg-dash-color-2" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-money-bill svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Price in USD</p>
              </div>
              <p class="text-xxl lh-1 mb-0 text-dash-color-3"><%= number_to_currency(@daily_yield[0] * @akc_price) %></p>
            </div>
            <div class="progress" style="height: 3px">
              <div class="progress-bar bg-dash-color-3" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-clock svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Last Updated</p>
              </div>
              <p class="text-md-end lh-1 mb-0 text-dash-color-2"><%= @last_updated %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gy-4 mt-1">
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-money-bill svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">30 Days</p>
              </div>
              <p class="text-xxl lh-1 mb-0 text-dash-color-1">
                <%= number_to_currency(@akc_price * (@daily_yield[0] * 30)) %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-money-bill-trend-up svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <i class="fa-solid fa-a svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <i class="fa-solid fa-k svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <i class="fa-solid fa-c svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">60 Days</p>
              </div>
              <p class="text-xxl lh-1 mb-0 text-dash-color-2">
                <%= number_to_currency(@akc_price * @daily_yield[0] * 60) %>
              </p>
            </div>
            <div class="progress" style="height: 3px">
              <div class="progress-bar bg-dash-color-2" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-money-bill-1 svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">90 Days</p>
              </div>
              <p class="text-xxl lh-1 mb-0 text-dash-color-3">
                <%= number_to_currency(@akc_price * (@daily_yield[0] * 90)) %>

              </p>
            </div>
            <div class="progress" style="height: 3px">
              <div class="progress-bar bg-dash-color-3" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-money-check-dollar svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">365 Days</p>
              </div>
              <p class="text-xxl lh-1 mb-0 text-dash-color-2">
                <%= number_to_currency(@akc_price * (@daily_yield[0] * 365)) %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gy-4 mt-1">
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-calendar-alt svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Last Claimed on</p>
              </div>
              <% if @last_claimed.nil? %>
                <%= link_to 'Add Last Claimed', new_user_claim_path(@user, @last_claimed), class: 'badge rounded-pill bg-primary' %>
              <% else %>
                <p class="text-xl lh-1 mb-0 text-dash-color-1">
                  <%= number_with_delimiter(@last_claimed_days) %> days ago
                  (<%= @last_claimed.claimed.strftime('%m/%d/%Y') unless @last_claimed.nil? %>)
                </p>
                <p class="text-xxl-start lh-1 mb-0 text-dash-color-1">

                  <%= link_to 'Edit', edit_claim_path(@last_claimed), class: 'badge rounded-pill bg-primary' %>
                </p>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="table-responsive">
    <div id="tribe_items">
      <table class="table table-striped">
        <thead>
        <tr>
          <td>Item</td>
          <td>Daily Yield</td>
          <td>Price in $AKC</td>
          <td>Price in USD</td>
          <td>Owned</td>
          <td>Price Spent</td>
        </tr>
        </thead>
        <% @tribe_items.each do |tribe_item| %>
          <tr>
            <td><%= tribe_item.item %></td>
            <td><%= sum_daily_yield(tribe_item.daily_yield, tribe_item.owned) %></td>
            <td><%= tribe_item.price %></td>
            <td><%= number_to_currency(tribe_item.price * @akc_price) %></td>
            <td><%= number_with_delimiter(tribe_item.owned) %></td>
            <td><%= number_to_currency((tribe_item.price * @akc_price) * tribe_item.owned) %></td>
            <td><%= link_to "Edit", edit_tribe_item_path(tribe_item) %></td>
            <td><%= link_to "Show", tribe_item %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>