<div class="login-page">
  <div class="container d-flex align-items-center position-relative py-5">
    <div class="card shadow-sm w-100 rounded overflow-hidden bg-none">
      <div class="card-body p-0">
        <div class="row gx-0 align-items-stretch">
          <%= render 'devise/shared/info_panel' %>
          <!-- Form Panel    -->
          <div class="col-lg-6 bg-white">
            <div class="d-flex align-items-center px-4 px-lg-5 h-100 bg-dash-dark-2">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <h2 class="text-white">Change your password</h2>
                <%= f.hidden_field :reset_password_token %>

                <div class="form-floating mb-4">
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br/>
                  <div class="form-floating mb-3">
                    <%= f.password_field :password, class: 'form-control', id: 'floatingPassword', placeholder: 'Password', autocomplete: 'new-password', required: true %>
                    <%= f.label :password, for: 'floatingPassword', class: 'label-material' %>
                  </div>
                </div>

                <div class="actions">
                  <%= f.submit "Change my password", class: 'btn btn-primary mb-3', data: { turbo: false } %>
                </div>
                <%= render "devise/shared/links" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'devise/shared/footer' %>
</div>