<div class="login-page">
  <div class="container d-flex align-items-center position-relative py-5">
    <div class="card shadow-sm w-100 rounded overflow-hidden bg-none">
      <div class="card-body p-0">
        <div class="row gx-0 align-items-stretch">
          <%= render 'devise/shared/info_panel' %>
          <!-- Form Panel    -->
          <div class="col-lg-6 bg-white">
            <div class="d-flex align-items-center px-4 px-lg-5 h-100 bg-dash-dark-2">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <h2 class="text-white">Forgot your password?</h2>
                <div class="form-floating mb-3">
                  <%= f.text_field :email, class: 'form-control input-material', id: 'floatingEmail', name: 'loginUsername', placeholder: 'Email', autofocus: true, required: true %>
                  <%= f.label :email, for: 'floatingEmail', class: 'label-material' %>
                </div>

                <div class="actions">
                  <%= f.submit "Send me reset password instructions", class: 'btn btn-primary mb-3', data: { turbo: false } %>
                </div>
                <%= render "devise/shared/links" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'devise/shared/footer' %>
</div>