<div class="login-page">
  <div class="container d-flex align-items-center position-relative py-5">
    <div class="card shadow-sm w-100 rounded overflow-hidden bg-none">
      <div class="card-body p-0">
        <div class="row gx-0 align-items-stretch">
          <%= render 'devise/shared/info_panel' %>
          <!-- Form Panel    -->
          <div class="col-lg-6 bg-white">
            <div class="d-flex align-items-center px-4 px-lg-5 h-100 bg-dash-dark-2">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'login-form py-5 w-100') do |f| %>
                <h1 class="text-white">Sign In</h1>
                <div class="form-floating mb-3">
                  <%= f.password_field :email, class: 'form-control input-material', id: 'floatingEmail', name: 'loginUsername', placeholder: 'Email', autofocus: true, required: true %>
                  <%= f.label :email, for: 'floatingEmail', class: 'label-material' %>
                </div>

                <div class="form-floating mb-3">
                  <%= f.password_field :password, class: 'form-control input-material', id: 'floatingPassword', placeholder: 'Password', required: true %>
                  <%= f.label :password, for: 'floatingPassword', class: 'label-material' %>
                </div>
                <% if devise_mapping.rememberable? %>
                  <div class="form-check">
                    <%= f.check_box :remember_me, class: 'form-check-input', id: 'remember_me' %>
                    <%= f.label :remember_me, for: 'remember_me' %>
                  </div>
                <% end %>

                <div class="actions">
                  <!--                  <button class="btn btn-primary mb-3" id="login" type="submit">Login</button>-->
                  <!--                  <a class="text-sm text-paleBlue" href="#">Forgot Password?</a><br><small class="text-gray-500">Do not have an account? </small><a class="text-sm text-paleBlue" href="register.html">Signup</a>-->
                  <%= f.submit "Log in", class: 'btn btn-primary mb-3', data: { turbo: false } %>
                </div>
                <%= render "devise/shared/links" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'devise/shared/footer' %>
</div>