<div class="container-fluid">
  <div class="row gy-4">
    <div class="row gy-4">
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-info-circle svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Info</p>
              </div>
              <%= link_to "Back to goals", user_goals_path(@user), class: 'badge rounded-pill bg-success' %>
              <%= link_to "Edit Goal", edit_goal_path(@goal), class: 'badge rounded-pill bg-info' %>
              <%= button_to "Destroy this goal", @goal, class: 'badge rounded-pill bg-danger', method: :delete %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-coins svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Unclaimed Coins</p>
              </div>
              <p class="text-xxl lh-1 mb-0 text-dash-color-1"><%= number_with_delimiter(@unclaimed_coins) %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-calendar-day svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Number of days to collect</p>
              </div>
              <p class="text-xxl lh-1 mb-0 text-dash-color-1"><%= number_with_delimiter(@num_days_to_collect) %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-calendar-day svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">First day to collect</p>
              </div>
              <p class="text-xxl lh-1 mb-0 text-dash-color-1"><%= number_with_delimiter(@first_day_to_collect.strftime('%m/%d/%Y')) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row gy-2">
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-sack-dollar svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Price</p>
              </div>
              <p class="text-xxl lh-1 mb-0 text-dash-color-1">$<%= number_with_delimiter(@akc_price.round(5)) %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-dollar-sign svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <i class="fa-solid fa-a svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <i class="fa-solid fa-k svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <i class="fa-solid fa-c svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Daily Yield</p>
              </div>
              <p class="text-xxl lh-1 mb-0 text-dash-color-2"><%= number_with_delimiter(@daily_yield[0].round(3)) %>
                $AKC</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-medal svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Goal</p>
              </div>
              <p class="text-xxl lh-1 mb-0 text-dash-color-3"><%= number_with_delimiter(@set_goal) %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card mb-0">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between mb-2">
              <div class="me-2">
                <i class="fa-solid fa-clock svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0">Days Since Claimed</p>
              </div>
              <p class="text-xxl lh-1 mb-0 text-dash-color-2"><%= number_with_delimiter(@num_days) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row gy-4">
    <div class="row gy-4">
      <% @show.each do |k, v| %>
        <% next if v.nil? %>
        <div class="col-md-3 col-sm-6">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex align-items-end justify-content-between mb-2">
                <div class="me-2">
                  <i class="fa-solid fa-warehouse svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i>
                  <p class="text-sm text-uppercase text-gray-600 lh-1 mb-0"><%= k.to_s.humanize %></p>
                </div>
                <div class="text-xxs lh-1 mb-0 text-dash-color-1">
                <span class="badge rounded-pill bg-primary m-1">
                  <%= number_with_delimiter(v[0]) %> days
                  <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= distance_of_time_in_words(0, v[0].days) %>">
                    <sup><i class="fa-solid fa-info-circle text-gray-600 "></i></sup>
                  </span>
                </span>
                  <span class="badge rounded-pill bg-danger">Date: <%= format_date(v[0]) unless v.nil? %></span>
                  <span class="badge rounded-pill bg-secondary m-1">Daily Yield: <%= number_with_delimiter(v[1].round(2)) unless v.nil? %></span>
                  <span class="badge rounded-pill bg-success m-1">DY: <%= convert_to_usd(v[1], @akc_price) unless v.nil? %></span>
                  <span class="badge rounded-pill bg-warning text-dark m-1">Leftover: <%= convert_to_usd(v[2].round(2), @akc_price) unless v.nil? %></span>
                  <span class="badge rounded-pill bg-info text-dark m-1"><%= number_with_delimiter(v[2].round(2)) unless v.nil? %>
                    $AKC</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-3">
    <div class="accordion" id="accordionExample">
      <% @show.each.with_index do |(k, v), index| %>
        <% next if v.nil? %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-<%= index %>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= index %>" aria-expanded="false" aria-controls="collapse-<%= index %>">
              <%= k.to_s.titleize %>
            </button>
          </h2>
          <div id="collapse-<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= index %>" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <%= render 'goals/items', items: v[3] unless v.nil? %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>