<header class="header">
  <nav class="navbar navbar-expand-lg py-3 bg-dash-dark-2 border-bottom border-dash-dark-1 z-index-10">
    <div class="container-fluid d-flex align-items-center justify-content-between py-1">
      <div class="navbar-header d-flex align-items-center">
        <%= link_to root_path, class: 'navbar-brand text-uppercase text-reset' do %>
          <div class="brand-text brand-big"><strong class="text-primary">Kong</strong><strong>Cal</strong></div>
          <div class="brand-text brand-sm"><strong class="text-primary">K</strong><strong>C</strong></div>
        <% end %>
        <button class="sidebar-toggle">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
      </div>
      <ul class="list-inline mb-0">
        <% if user_signed_in? %>
          <li class="list-inline-item edit px-lg-2">
            <%= link_to edit_user_registration_path class: 'nav-link' do %>
            <span class="">
             <i class="fa-solid fa-edit"></i> Edit Profile
            </span>
              </li>
            <% end %>
            <li class="list-inline-item logout px-lg-2">
              <%= button_to destroy_user_session_path, method: :delete, class: 'nav-link btn btn-primary', data: { turbo: false } do %>
            <span class="">
             <i class="fa-solid fa-sign-out"></i> Logout
            </span>
              <% end %>
            </li>
        <% else %>
          <li class="list-inline-item logout px-lg-2">
            <%= link_to new_user_registration_path, class: 'nav-link text-sm text-reset px-1 px-lg-0' do %>
            <span class="d-none d-sm-inline-block">
             <i class="fa-solid fa-sign-in svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i> Sign Up
            </span>
            <% end %>
          </li>
          <li class="list-inline-item logout px-lg-2">
            <%= link_to new_user_session_path, class: 'nav-link text-sm text-reset px-1 px-lg-0' do %>
            <span class="d-none d-sm-inline-block">
             <i class="fa-solid fa-sign-in-alt svg-icon svg-icon-sm svg-icon-heavy text-gray-600 mb-2"></i> Login
            </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>